body {
    height: 100vh;
    display: flex;
    
}
.card-verification{
    background: url(../images/bg-main-desktop.png) no-repeat white;
    display: flex;
    align-items: center;
    gap: 115px;
    padding: 5rem;
    max-width: 1300px;
    width: 100%;
    min-height: 810px;
    margin:  auto ;
    .visual-info-card{
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-width: 490px;
        margin-left: 65px;
        .card-front{
            display: flex;
            justify-content: flex-start;
            max-width: 100%;;
            .front{
                max-width: 405px;
                
                
            }
        }
        .card-back{
            display:flex;
            justify-content: end;
            max-width: 100%;
            .back{
                max-width: 405px;
            }
        }
        }  
        
    .formCard{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-width:350px;
        width: 100%;
        height: 100%;
        max-height:370px;
        margin-bottom: 20px;
        
    .formulario-card-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        .ExpdataMMYY{
            display: flex;
            .MMYY{
                display: flex;
                
                flex: 2;
                
            }

        }
        input{
            width: 100%;
            height: 40px;
            margin: 0 10px 30px 0;
            border-radius: 5px;
        }
    }
    }

    }

    label{
        text-transform: uppercase;
        font-size: 12px;
        padding-bottom:4px; 
    }  

    button{
        width: 100%;
        height: 40px;
        background-color: hsl(278, 68%, 11%);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    